@import url(https://fonts.googleapis.com/css?family=Trirong);


/* Style the navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
}

.nav-items a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
  opacity: 0.75;
}






/* Styles for screens larger than 768px */
@media (min-width: 769px) {
  /* Display navigation items horizontally */
  .nav-items ul {
      flex-direction: row;
  }

  /* Add space to the right of the logo */
  .logo {
      margin-right: auto;
  }
}

/* Styles for screens 768px and smaller */
@media (max-width: 768px) {
  /* Stack navigation items vertically */
  .nav-items ul {
      flex-direction: column;
      text-align: center;
  }

  /* Center-align the logo */
  .logo {
      text-align: center;
      margin: 10px 0;
  }

  /* Add some spacing to social icons */
  .social-icons {
      margin-top: 20px;
  }
}


/* Styles for screens larger than 768px */
@media (min-width: 769px) {
  /* Display navigation items horizontally */
  .nav-items {
      flex-direction: row;
  }

  /* Add space to the right of the logo */
  .logo {
      margin-right: auto;
  }
}

/* Styles for screens 768px and smaller */
@media (max-width: 768px) {
  /* Stack navigation items vertically */
  .nav-items {
      flex-direction: column;
      text-align: center;
  }

  /* Center-align the logo */
  .logo {
      text-align: center;
      margin: 10px 0;
  }

  /* Add some spacing to social icons */
}


.topbar{
  /* display: block; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .topBar {
      display: none;
  }
}

.topBar a{
  color: #c5ccd7 ;
  text-decoration: none;
  border-bottom: 1px dashed #504c4c;
}


.navLink:hover {
  opacity: 1;
}

.navLink::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
}

#navbar{
  position: sticky;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.navbar .navbar-nav{
  margin: 0 auto;
}

.navbar ::placeholder{
  font-size: 16px;
  font-weight:200;
}

.navbar .navbar-nav .nav-link{
  /* color: 	#333333; */
  color: #151414;
  font-size: 18px;
  font-weight:200;
}